!!!
%html
  %head
    %title WebApp
    %meta{:charset => 'utf-8'}
    %meta{:content => 'IE=8, IE=9, IE=11 IE=edge, chrome=1', :http => {equiv: 'X-UA-Compatible'}}
    %meta{:name => 'viewport', :content => 'initial-scale=1, maximum-scale=1'}

    = csrf_meta_tags

    = stylesheet_link_tag    'application', 'media' => 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application'

  %body
    = yield
