%section.enrollment
  .container
    .main-titles
      %h1=t('user.form.title')
      %h2=t('user.form.subtitle')
    =form_tag({:controller => "users", :action => "create", :method => "post"},  {:class=> "register"}) do  |f|
      .register-section
        .register-section-titles
          %h3=t('user.form.notifications')
          %p=t('user.form.notifications_about')
        -@alarm_categories.each_with_index do |alarm_category, index|
          .expander
            .expander-trigger{:class=>"#{index!=0 ? 'expander-hidden' : 'none'}"}
              %h4=alarm_category.name
            .expander-content
              -@alarms.where(alarm_category_id: alarm_category.id).each do |alarm|
                .register-option
                  %p=alarm.name
                  .custom-switch
                    =check_box("alarm", alarm.name, id: alarm.name)
                    %label{for: "#{alarm.name}"}

      .register-section
        .register-section-titles
          %h3=t('user.form.settings')
          %p=t('user.form.settings_description')
        .register-option
          .custom-checkbox
            =check_box("user", "sms_actived")
            %label.js-toggle-required{for: 'user_sms_actived'}
          %h4=t('user.form.sms')
          <br>
          .custom-text-input
            .required-field *
            =text_field(:user, :phone_number, size: 20, disabled: 'disabled', placeholder: t('user.form.sms_placeholder'))
        .register-option
          .custom-checkbox
            =check_box("user", "email_actived")
            %label.js-toggle-required{for: 'user_email_actived'}
          %h4=t('user.form.email')
          <br>
          .custom-text-input
            .required-field *
            =text_field(:user, :email, size: 20, disabled: 'disabled', placeholder: t('user.form.email_placeholder'))
        .register-option
          .custom-checkbox
            %input{type: 'checkbox', id:'app', value: 'true'}
            %label{for: 'app'}
          %h4=t('user.form.mobile_app')
          <br>
          %span=t('user.form.download')
          %a{href:""} iPhone
          %span or
          %a{href: ""} Android.
          %span=t('user.form.its_free')
      .register-section
        .register-section-titles
          %h3=t('user.form.information')
          %p=t('user.form.help_us') 
        .register-option
          %span=t('user.form.gender')
          .custom-radio-input
            .custom-radio-button
              =radio_button("user", "gender", "female")
              %label{for: 'user_gender_female'}
            %span=t('user.form.female')
          .custom-radio-input
            .custom-radio-button
              =radio_button("user", "gender", "male")
              %label{for: 'user_gender_male'}
            %span=t('user.form.male')
          .information-button
            %p=t('user.form.gender_message')
        .register-option
          %p=t('user.form.year')
          .custom-select
            =select("user", "year_of_birth", get_years, selected: "")
          .information-button
            %p=t('user.form.year_message')
        .register-option
          %p=t('user.form.language')
          .custom-select
            =select("user", "lenguage", get_lenguages, selected: "")
          .information-button
            %p=t('user.form.language_message')
        .center-button
          %button.basic-button{:type=>"submit", :class=>"button"}
            =t('user.form.save')

:javascript
  $(document).ready(function() {
    //Expander controller
    $('expander-trigger').click(function(){
      $(this).toggleClass('expander-hidden');
    });
  });