.dasboard-section
  %h2 Statistics Overview
  %p Quick statistics about users activity
  .custom-select
    %select
      %option Last Month
      %option Current Month
      %option 2 Months before
  .custom-select
    %select
      %option All Regions
      %option North California
      %option South California
  .multi-panel
    %ul
      %li
        %h2 120,000
        %p Users
      %li
        %h2 25%
        %p Users reached
      %li
        %h2 5
        %p Active events
  .cols
    .half-col
      .graph
        .graph-title
          %h4 Active / Registered Users
        .graph-svg.users-graph
    .half-col
      .graph
        .graph-title
          %h4 Open / Unopened
        .cases-graph
