.container
  .dashboard
    %nav.sidebar
      =link_to 'Overview', '#'
      =link_to 'Alert Categories', '#'
    .main-content
      .active-section#dashboard_overview
        =render partial: 'overview'
      .active-section#dashboard_alerts
        .inactive-section.sub-section#alerts_index
          =render partial: 'alert_categories'
        .active-section.sub-section#add_alert
          =render partial: 'add_alert'
