%section.enrollment
  .container
    .main-titles
      %h1 Get Started
      %h2 Fill this form in ordes to get notifications
    %form.register
      .register-section
        .register-section-titles
          %h3 Notifications
          %p What services do you want to get notified about?
        .expander
          .expander-trigger.expander-hidden
            %h4 Realtime alerts & forecast
          .expander-content
            .register-option
              %p Contingency Planning: Where to donate
              .custom-switch
                %input{type: 'checkbox', id:'contingency', value: 'true', checked: 'checked'}
                %label{for: 'contingency'}
            .register-option
              %p Earthquakes
              .custom-switch
                %input{type: 'checkbox', id:'earthquake', value: 'true', checked: 'checked'}
                %label{for: 'earthquake'}
            .register-option
              %p Tornado
              .custom-switch
                %input{type: 'checkbox', id:'tornado', value: 'true', checked: 'checked'}
                %label{for: 'tornado'}
            .register-option
              %p Tsunami
              .custom-switch
                %input{type: 'checkbox', id:'tsunami', value: 'true', checked: 'checked'}
                %label{for: 'tsunami'}
        .expander
          .expander-trigger.expander-hidden
            %h4 Meeting Points and Collection centers
          .expander-content
            .register-option
              %p Meeting points
              .custom-switch
                %input{type: 'checkbox', id:'meeting', value: 'true', checked: 'checked'}
                %label{for: 'meeting'}
        .expander
          .expander-trigger.expander-hidden
            %h4 Important Broadcast
          .expander-content
            .register-option
              %p Risks
              .custom-switch
                %input{type: 'checkbox', id:'risk', value: 'true', checked: 'checked'}
                %label{for: 'risk'}
      .register-section
        .register-section-titles
          %h3 Settings
          %p How do you want to get notified?
        .register-option
          .custom-checkbox
            %input{type: 'checkbox', id:'sms', value: 'true'}
            %label{for: 'sms'}
          %h4 SMS
          <br>
          .custom-text-input
            .required-field *
            %input{type: 'text', id:'sms_number', placeholder: 'i.e 123 456 789'}
        .register-option
          .custom-checkbox
            %input{type: 'checkbox', id:'email', value: 'true'}
            %label{for: 'email'}
          %h4 E-mail
          <br>
          .custom-text-input
            .required-field *
            %input{type: 'text', id:'email_value', placeholder: 'i.e 123 456 789'}
        .register-option
          .custom-checkbox
            %input{type: 'checkbox', id:'app', value: 'true'}
            %label{for: 'app'}
          %h4 Mobile App
          <br>
          %span In order to receive these alerts, you'll have to download
          %a{href:""} iPhone
          %span or
          %a{href: ""} Android
          %span app, and allow your phone to receive notifications.
      .register-section
        .register-section-titles
          %h3 Additional Information
          %p Help us understand who is using this service.
        .register-option
          %span Gender:
          .custom-radio-input
            .custom-radio-button
              %input{type: 'radio', name:'gender', id:'female', value: 'true'}
              %label{for: 'female'}
            %span Female
          .custom-radio-input
            .custom-radio-button
              %input{type: 'radio', name: 'gender', id:'male', value: 'true'}
              %label{for: 'male'}
            %span Male
          .information-button
            %p This is important
        .register-option
          %p Year of birth:
          .custom-select
            %select
              %option{value: '1992'} 1992
              %option{value: '1993'} 1993
              %option{value: '1994'} 1994
              %option{value: '1995'} 1995
          .information-button
            %p This is important
        .register-option
          %p Preferred language:
          .custom-select
            %select
              %option English
              %option Spanish
          .information-button
            %p This is important
        .register-option
          %p In case of contigencies, where have you donated?
          .custom-text-input
            %input{type: 'text'}
          .information-button
            %p This is important
        .center-button
          %button.basic-button Save
