%section.intro
  .container
    = render partial: "shared/messages", flash: flash
    .main-titles
      %h1=t("landing.title")
      %h2=t("landing.subtitle")
    =link_to new_user_path, :id=> "create_user_btn" do
      %button.basic-button=t("landing.buttons.new_user")
    =link_to '#description-jump' do
      .down-arrow=image_tag 'down-arrow.svg'  
%section.description
  .container
    .main-titles#description-jump
      %h1=t("landing.description.title")
    .cols
      .half-col
        .side-image
          .images-wrapper.round.bg-red=image_tag 'help.png'
          .side-image-content
            %h2.text-red=t("landing.description.section_one.title")
            %p=t("landing.description.section_one.subtitle")
        .side-image
          .images-wrapper.round.bg-light-blue=image_tag 'arrow-all.png'
          .side-image-content
            %h2.text-light-blue=t("landing.description.section_two.title")
            %p=t("landing.description.section_two.subtitle")
        .side-image
          .images-wrapper.round.bg-yellow=image_tag 'microphone.png'
          .side-image-content
            %h2.text-yellow=t("landing.description.section_three.title")
            %p=t("landing.description.section_three.subtitle")

        .download-options
          =link_to do
            =image_tag 'google-play.svg'
          =link_to do
            =image_tag 'apple.svg'
      .half-col
        .crop-image=image_tag 'iphone.png'
%section.survey-invite
  .container
    %h2=t("landing.survey")
    %button.secondary-button{:onClick=>"open_modal()", :id=> "modal_btn"}
      =t("landing.buttons.new_survey")



.modal
  %input#modal-1.modal-state{:type => "checkbox"}/
  .modal-fade-screen
    .modal-inner
      .modal-close{:for => "modal-1"}
      .container
        .register-modal-section
          %h3=t("landing.modal.title")
        =form_tag({:controller => "pages", :action => "create", :method => "post"},  {:class=> "register", :id=>"form_modal"}) do  |f|
          .register-modal-section
            .custom-text-input.modal-dialog
              =text_field(:comment, :description, size: 340, placeholder: t("landing.modal.placeholder"), type: "text",class: "modal-input")
          .register-modal-section
            .center-button
              %button.basic-button{:type=>"submit", :class=>"button", :id=> "submit_btn"}
                =t("landing.modal.button")

:javascript
  $( "form" ).submit(function( event ) {
    if ($("#comment_description").val() == ""){
      toastr.error("#{t('landing.modal.error')}");
      return false
    }
    return true;
  });