.login
  .container
    .custom-form
      = form_for(User.new, :url=>{:controller=> "users", :action=>"new"}, :method => "get") do |f|
        .form-option
          %p=t('login.mail')
          = email_field :user, :email, placeholder: t('login.placeholder.email')
        .form-option
          %p=t('login.pass')
          = password_field :user, :password,placeholder: t('login.placeholder.password'), autocomplete: "off"
        .center-button
          = f.submit t('login.login'), id: "submit_login"
