<p>Hola <%=@email %>!</p>
<br>
<p>A new alert has been created with the following message:</p>
<p><%=@message %>!</p>
<br>
<p>Thank you.</p>
<br>
<p>
This message is informative, please don't respond to this email.
</p>
