.basic-button {
  background-color: $light-blue;
  color: $white;
  font-size: $button-font-size;
  font-weight: bold;
  padding: 20px 60px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  &:hover, &:focus {
    background-color: $light-blue2;
  }
}

.secondary-button {
  @extend .basic-button;
  background-color: $white;
  color: $light-blue;
  &:hover, &:focus {
    background-color: $dark-blue;
  }

}
