.basic-button {
  background-color: $basic-bg-color;
  color: $basic-text-color;
  font-size: $button-font-size;
  font-weight: bold;
  padding: 20px 60px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  &:hover, &:focus {
    background-color: $basic-bg-hover;
  }
}

.secondary-button {
  @extend .basic-button;
  background-color: $secondary-bg-color;
  color: $secondary-text-color;
  &:hover, &:focus {
    background-color: $secondary-bg-hover;
  }

}
