.center-button {
  text-align: center;
}

.basic-button {
  background-color: $basic-bg-color;
  color: $basic-text-color;
  font-size: $button-font-size;
  font-weight: bold;
  padding: 20px 60px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  &:hover, &:focus {
    background-color: $basic-bg-hover;
  }
}

.secondary-button {
  @extend .basic-button;
  background-color: $secondary-bg-color;
  color: $secondary-text-color;
  &:hover, &:focus {
    background-color: $secondary-bg-hover;
  }

}

.information-button {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid $light-gray;
  border-radius: 50px;
  position: relative;
  &::before {
    content: '!';
    float: left;
    margin-left: 9px;
    font-size: $tiny-font-size;
    color: $light-gray;
  }
  p {
    position: absolute;
    top: -5px;
    left:25px;
    color: $light-blue;
    display: none;
    font-size: $small-font-size;
  }
  &:hover, &:focus {
    cursor: pointer;
    p {
      display: block;
    }
  }
}

.custom-switch {
  position: relative;
  display: inline-block;
  label { margin:0;}
  input[type="checkbox"],
  input[type="radio"]{
    display: none;
  }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    @extend .custom-switch-outside;
  }
  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label {
    border: 1px solid $light-blue;
  }
  input[type="checkbox"] + label:before,
  input[type="radio"] + label {
    @extend .custom-switch-inside;
  }
  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    border: 1px solid $light-blue;
    background-color: $light-blue;
    left: 25px;
    transition: all 0.8 ease;
  }
}

.custom-switch-outside {
  display: inline-block;
  height: 25px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid $light-gray;
  background-color: $white;
}

.custom-switch-inside {
    content: '';
    height: 25px;
    width: 25px;
    background-color: $light-gray;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid $light-gray;
  border-radius: 8px;
  height: 25px;
  width: 25px;
  padding:  5px 4px;
  label { margin:0;}
  input[type="checkbox"]{
    display: none;
  }
  input[type="checkbox"] + label {
    @extend .custom-checkbox-outside;
    cursor: pointer;
  }
  input[type="checkbox"]:checked + label {
    @extend .custom-checkbox-inside;
  }
  h6 {
    display: inline-block;
    font-weight: 400;
    margin-left: 10px;
    margin-bottom: 30px;
    width: 210px;
  }

  input[type="checkbox"]:disabled + label {
    cursor: not-allowed;
    background-color: $gray2;

    // Overwrite parent's background
    position: absolute;
    top: -5px;
    left: -5px;
    height: 50px;
    width: 50px;
  }
}

.custom-checkbox-outside {
  float: left;
  display: inline-block;
  content: '';
  width: 16px;
  height: 13px;
  border-radius: 10px;
  background-color: $white;
}
.custom-checkbox-inside {
  vertical-align:middle;
  background:url(tick.png) left top no-repeat;
  background-size: cover;
  cursor:pointer;
}


.custom-radio-button {
  position: relative;
  display: inline-block;
  padding: 4px;
  input{ display: none; }
  &:hover, &:focus{
    cursor: pointer;
  }
  input[type="radio"] + label {
    @extend .custom-radio-outside;
  }
  input[type="radio"]:checked + label:after {
    @extend .custom-radio-inside;
  }
}

.custom-radio-inside {
  content: '';
  float: left;
  background-color: $light-blue;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.custom-radio-outside {
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 5.2px 5.5px;
  border-radius: 50px;
  border: 2px solid $light-gray;
}
