
.bg-red {
  background-color: $red;
}
.bg-yellow {
  background-color: $yellow;
}
.bg-light-blue {
  background-color: $light-blue;
}

.text-yellow {
  color: $yellow;
}

.text-red {
  color: $red;
}

.text-light-blue {
  color: $light-blue;
}
