.cols {
  overflow: hidden;
  .half-col{
    width: 50%;
    float: left;
    padding-right: 25px;
    &:last-child{
      padding-right: 0;
      padding-left: 25px;
      padding-top: 36px;
    }
  }
  .seventy-col{
    margin-top:0px;
    width: 70%;
    float: right;
    padding-right: 25px;
    &:last-child{
      padding-right: 0;
      padding-left: 25px;
    }
  }
  .thirty-col{
    margin-top:0px;
    width: 30%;
    float: left;
    padding-right: 25px;
    &:last-child{
      padding-right: 0;
      padding-left: 25px;
    }
  }
  .grid{
    display:inline-block;
  }
  .row{
    display:inline-block;
  }
  .box-wide{
    margin-top:0px;
    width: 55%;
    float: right;
    padding-right: 25px;
  }
  .box-small{
    margin-top:0px;
    width: 35%;
    float: right;
    padding-right: 25px;
  }
  @media (min-width: 320px) and (max-width: 959px){
    .half-col, .seventy-col, .thirty-col{
      width: 100% !important;
      padding-left: 0!important;
      padding-right: 0!important;
    }
  }
}
