.general-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  border: 1px solid $light-gray;
  border-radius: 8px;
  padding: 5px 15px 5px 15px;
  height: 50px;
  font-weight: normal;
  font-size: $base-font-size;
  color: $base-font-color;
}

.custom-text-input {
  width: 710px;
  display: inline-block;
  input[type="text"]{
    @extend .general-input;
    width: calc(100% - 5px);
  }
  input[type="email"]{
    @extend .general-input;
    width: calc(100% - 5px);
  }
  input[type="number"]{
    @extend .general-input;
    width: calc(100% - 5px);
  }
  @include media(min-width 320px max-width 779px) {
    width: 300px;
  }
}


.custom-select {
  display: inline-block;
  select {
    @extend .general-input;
    padding: 5px 46px 5px 15px;
    background: url('/assets/down-arrow-gray.svg') 92% / 15px no-repeat;
    width: 100%;
  }
}

.custom-textarea {
  textarea {
    @extend .general-input;
    resize: vertical;
    width: 100% !important;
  }
}

form.custom-form {
  .form-option {
    margin: 20px 0 30px 0;
    .custom-select {
      select {
        width: 250px;
        padding: 0 10px;
        font-size: $small-font-size;
      }
    }
    .reference-info {
      a,span {
        display: inline-block;
        font-size: $tiny-font-size;
      }
    }
  }
  button {
    margin: 20px 0;
  }
}
