//Colors
$white: #FFFFFF;
$red: #FF5536;
$yellow: #FFB900;
$light-blue: #00BFE9;
$light-blue2: #00BBE4;
$dark-blue: #144753;
$dark-blue2: #0e3740;
$aqua: #01C9F5;
$gray: #5E5E5E;
$gray2: #E7E7E7;
$light-gray: #C3C3C3;
$clear-gray: #F3F3F3;


//background-colors
$bg-red: $red;
$bg-yellow: $yellow;
$bg-light-blue: $light-blue;
$bg-dark-blue: $dark-blue;
$footer-background-color: $light-blue;

//Action colors
$hover-color: $dark-blue;
$hover-color2: $light-blue;

//Button colors
$basic-bg-color: $dark-blue;
$basic-bg-hover: $dark-blue2;
$basic-text-color: $white;

$secondary-bg-color: $dark-blue2;
$secondary-bg-hover: $light-blue;
$secondary-text-color: $white;

$third-bg-color: $light-blue;
$third-bg-hover: $light-blue2;

//Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$base-font-family: 'Source Sans Pro', sans-serif ;

//Font-color
$base-font-color: $dark-blue;

// Font Sizes
$base-font-size: 22px;
$title-font-size: 72px;
$title-size-responsive: 60px;
$subtitle-font-size: 26px;
$middle-font-size: 20px;
$small-font-size: 18px;
$tiny-font-size: 16px;
$button-font-size: 24px;

//line-height
$base-line-height: 1.5;
$heading-line-height: 1.2;

