.dashboard-titles {
  margin-bottom: 40px;
}

.dashboard-section {
  a {
    color: $light-blue;
    text-decoration: underline;
    &:hover, &:focus {
      color: $hover-color;
    }
  }
}

#dashboard_alerts {
  ul.config-panel {
    margin: 30px 0 20px 0;
  }
  .add-alert {
    font-size: $middle-font-size;
  }
}

#dashboard_overview {
  .custom-select {
    margin: 36px 18px 36px 0;
  }
}
