section.description {
  padding: 90px 0 0 0;
  position: relative;
  .main-titles {
    margin-bottom: 70px;
  }
  .side-image {
    margin: 60px 0 50px 0;
  }

  .download-options {
    text-align: center;
    margin-bottom: 20px;
    a {
      text-decoration: none;
      img {
        width: 200px;
        margin-bottom: 15px;
        height: auto;
        margin-right: 10px;
        @include media(min-width 320px max-width 639px) {
          margin:0;
        }
      }
    }
  }
  .crop-image {
    max-height: 676px;
    width: 93%;
    overflow: hidden;
    margin: auto;
    position: absolute;
    bottom: 0;
    img {
      width: 100%;
      height: auto;
      margin:0;
    }
    @include media(min-width 320px max-width 959px) {
      position: relative;
      max-height: 535px;
      width: 300px;
      text-align: center;
    }
  }
}

