.expander {
  $expander-font-color: $gray;
  $expander-arrow-width: 15px;
  $expander-toggle-size: 1em;
  $expander-toggle-arrow-size: $expander-toggle-size;
  $expander-toggle-margin: 1em;

  width: 60%;

  .expander-trigger {
    cursor: pointer;
    display: block;
    margin-bottom: $expander-toggle-size;
    padding-bottom: $expander-toggle-size / 4;
    user-select: none;
    h4 {
      display: inline-block;
      text-decoration: none;
      font-size: $expander-toggle-size;
      color: $expander-font-color;
    }

    &::before {
      margin-right: 0.5em;
      content: "";
      display: inline-block;
      background: url('/assets/down-arrow-dark-gray.svg') 90% / 70% no-repeat;
      width: $expander-arrow-width;
      height:$expander-arrow-width;
    }
  }

  .expander-content p {
    color: $base-font-color;
    display: inline-block;
    margin-left: 30px;
  }

  .expander-hidden {
    &::before {
      content: "";
      display: inline-block;
      width: $expander-arrow-width;
      height:$expander-arrow-width;
      background: url('/assets/down-arrow-dark-gray.svg') 90% / 70% no-repeat;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    }
  }

  .expander-hidden + .expander-content {
    display: none;
  }
}
