.login-header header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 33px 85px;
  z-index: 2;
  .app-logo {
    height: 43px;
    width: auto;
    display: inline-block;
    img {
      max-height: 100%;
      width: auto;
    }
  }
  nav.top-navbar {
    float: right;
    padding: 8px 0 0 0;
    .nav-js-trigger {
      display: none;
    }
    ul {
      margin: 0;
      li {
        margin-right: 35px;
        display: inline-block;
        a {
          text-decoration: none;
          color: $white;
          display: inline-block;
          &:hover, &:focus {
            color: $hover-color;
          }
        }
      }
      li:nth-last-child(-n+2) {
        margin-right: 0;
      }
      li:last-child::before {
        content: '|';
        margin-right: 5px;
        color:$white;
      }
      li.lang-active a {
        color: $hover-color;
        font-weight: bold;
      }
    }
  }
  @include media(min-width 320px max-width 960px) {
    padding: 33px 20px;
    nav.top-navbar {
      position: absolute;
      right: 20px;
      top: 25px;
      .nav-js-trigger {
        display: inline-block;
        float: right;
        cursor: pointer;
      }
      ul {
        margin: 36px -33px 0 0;
        display: none;
        li {
          display: block;
          background-color: $white;
          width: 200px;
          padding: 2px 5px 2px 15px;
          a {
            color: $dark-blue;
          }
          &:hover, &:focus{
            cursor: pointer;
            background-color: $dark-blue;
            a {
              color: $white;
            }
          }
        }
        li:last-child::before {
          display: none;
        }
      }
    }
  }
}


.primary-header {
  @extend .login-header;
  header {
    position: relative !important;
    margin-bottom: 70px;
    width: 100%;
    z-index: 2;
    nav.top-navbar ul {
      li a {
        color: $gray;
        &:hover, &:focus {
          border-bottom: 4px solid $light-blue;
        }
      }
      li:nth-last-child(-n+2) {
        a {
          &:hover, &:focus {
            border-bottom:0;
            color: $hover-color2;
          }
        }
      }
      li:last-child::before {
        color: $light-gray;
      }
      li.lang-active a {
        color: $hover-color2;
      }
      li.active-route a {
          border-bottom: 4px solid $light-blue;
      }
    }
    @include media(min-width 320px max-width 960px) {
      nav.top-navbar {
        .nav-js-trigger {
          .nav-icon, .nav-icon::before, .nav-icon::after {
            background-color: $light-blue;
          }
        }
        ul {
          li {
            background-color:$dark-blue2;
            a {
              color: $light-blue;
              &:hover, &:focus {
                color: $white;
                border: 0;
              }
            }
            &:hover, &:focus {
              background-color: $dark-blue;
            }
          }
          li.lang-active a {
            color: $white;
          }
          li.active-route a {
            border-bottom: 0;
          }
        }
      }
    }
  }
}
