section.intro {
  padding: 15% 0 8% 0;
  background: url(intro-banner.png) top no-repeat;
  text-align: center;
  background-size: cover;
  background-position: center center;
  position: relative;
  h1 { 
    color: $white;
    font-size: 105px;
    @include media(min-width 320px max-width 639px) {
      font-size: $title-font-size;
    }
  }
  .decor-left {
    float: left;
    display: inline-block;
  }
  .decor-right {
    float: right;
    display: inline-block;
  }

  .basic-button {
    margin: 70px 0 210px 0;
  }
  .expander-bottom-up {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}
