section.intro {
  padding: 15% 0 8% 0;
  background: url(intro-banner.png) top no-repeat;
  text-align: center;
  background-size: cover;
  background-position: center center;
  position: relative;
  .main-titles {
    margin-top: calc(260px - 15%);
    h1 {
      color: $white;
      font-size: 105px;
      @include media(min-width 320px max-width 639px) {
        font-size: $title-font-size;
      }
    }
  }
  .basic-button {
    margin: 38px 0 140px 0;
  }
}
