%header
  .container
    .app-logo=image_tag 'logo-white.svg', alt: 'broadcast logo'
    %nav.top-navbar
      .nav-js-trigger
        .nav-icon
      %ul
        %li=link_to 'For residents', '#'
        %li=link_to 'For government', '#'
        %li=link_to 'About', '#'
        %li= link_to "EN", { :locale=>'en' }
        %li= link_to "ES", { :locale=>'es' }
