%header
  .container
    .app-logo=image_tag partial_logo, alt: 'broadcast logo'
    %nav.top-navbar
      .nav-js-trigger
        .nav-icon
      %ul
        %li=link_to 'For residents', '#'
        %li=link_to 'For government', '#'
        %li=link_to 'About', '#'
        %li{class: "#{I18n.locale == :en ?  'lang-active' : 'lang'}"}
          =link_to 'EN', { :locale=>'en' }
        %li{class: "#{I18n.locale == :es ?  'lang-active' : 'lang'}"}
          =link_to 'ES', { :locale=>'es' }
