.container
  .dashboard
    %nav.sidebar
      =link_to t('dashboard.overview'), dasboard_governments_path(:value=>'overview'), :class=> "#{get_dasboard=='overview' ? 'current-section' : ''}", data: { turbolinks: false }
      =link_to t('dashboard.alert'), dasboard_governments_path(:value=>'alert'), :class=> "#{get_dasboard=='alert' ? 'current-section' : ''}", data: { turbolinks: false }
    .main-content
      .sec{:id=>"dashboard_overview", :class=> " #{get_dasboard=='overview' ? 'active-section' : 'inactive-section'}"}
        =render partial: 'overview'
      .sec{:id=>"dashboard_overview", :class=> "#{get_dasboard=='alert' ? 'active-section' : 'inactive-section'}"}
        =render partial: 'alert_categories'